.Avatar {
    display:inline-block; position:relative; border-radius:999px; width:2rem; height:2rem;
    img {
        position:absolute; z-index:1; border-radius:999px; width:100%; height:100%; overflow:hidden; display:block;
    }
    .slot {
        width:100%; height:100%; position:absolute; top:0; left:0; right:0; bottom:0; z-index:1;
    }
}